body {
    background-attachment: fixed;
    font-family:'Electrolize', sans-serif;
}
.hangmanpic {
    background-color:black;
    border:1px solid blue;
    border-right:none;
    height:400px;
    padding:70px 56px;
}
.hangmantext {
    background-color:black;
    border:1px solid blue;
    border-left:none;
    height:400px;
    padding:50px 20px;
}
#blankspace {
    color:green;
    font-size:30px;
    height:84px;
}
#gameover {
    color:green; 
    font-size:30px; 
    height:84px;
}